/* ===== NOSOTROS ===== */
#info_nosotros {
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
    flex-flow: wrap;
}

#info_nosotros .info_nosotros_text {
    width: 60%;
    text-align: justify;
}

#info_nosotros .info_nosotros_text p {
    font-size: 18px;
}

#info_nosotros .info_nosotros_text p.subtema {
    font-size: 26px;
    font-weight: 700;
    margin: 20px 0 5px 0;
}

#info_nosotros .info_nosotros_text p.border_for_subtema {
    margin: 10px 0;
    border: 1px solid red;
    width: 60px;
}

#info_nosotros .info_nosotros_imagen {
    width: 40%;
}

@media (max-width: 1000px) {
    #info_nosotros .info_nosotros_text {
        width: 100%;
    }

    #info_nosotros .info_nosotros_imagen {
        width: 100%;
        max-height: 500px;
        text-align: center;
    }

    #info_nosotros .info_nosotros_imagen img {
        max-height: 100%;
        width: auto !important;
    }
}

@media (max-width: 520px) {
    #info_nosotros .info_nosotros_imagen {
        width: 100%;
        max-height: auto;
        margin-top: 20px;
    }

    #info_nosotros .info_nosotros_imagen img {
        max-height: auto !important;
        width: 100% !important;
    }
}